@model IEnumerable <FYP_EVA.Models.Event>

@{
    ViewBag.Title = "Main Page";
}

@if (TempData["ActionMessage"] != null)
{
    <div>
        <h2>@TempData["ActionMessage"]</h2>
    </div>
}
<h3> Registered Events for @Session["UserName"] </h3>

@{ 
    Html.RenderAction("ListAllEventRelated", "Volunteers");
}


<div class="panel panel-primary">
    <div class="panel-heading"><h3 style="text-transform:capitalize;text-align:center">Current Active Events available for volunteering</h3></div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <h2>@Html.DisplayFor(modelItem => item.EventName)</h2>
            <h4>@Html.DisplayFor(modelItem => item.EventDescription)</h4>
            <p>@Html.DisplayFor(modelItem => item.OrganiserName)</p>
            <table class="table">
                <thead>
                <th>Start Date</th>
                <th>End Date</th>
                </thead>
                <tbody>
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.StartDateTime)</th>
                        <th>@Html.DisplayFor(modelItem => item.EndDateTime)</th>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn" style="text-align: center;">
                @Html.ActionLink("> Be part of the event volunteer crew ! <", "ParticipateAction", "Volunteers",  new {id = item.EventID}, new { @style = "color:white" })
            </button>
        }
     </div>
</div>
